.informazioni-sulla-tua-postazione-portlet .portlet-title-text {
  display: block;
  font-weight: bold;
  color: white; }

.informazioni-sulla-tua-postazione-portlet .portlet-title {
  background-color: #00aaff; }

